<!DOCTYPE html>
<html lang="es">
<head>
    <title>Insuma SRL</title>
</head>

<body>
<!-- CONTENT -->






<!-- END-CONTENT -->
<footer></footer>
<!-- Gestión de template: -->
<script src="../js/injectHtml.js" ></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        injector('../template/head.html','head');
        injector('../template/nav.html','body');
        injector('../template/header.html','body');
        injector('../template/footer.html','footer');
    });
</script>
</body>

</html>