          <div class="categoria-item">
            <a href="./productos.html?cat=chapas">
              <img src="./img/chapas.jpg" alt="chapas">
            </a>
            </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=aislaciones">
              <img src="./img/aislaciones.jpg" alt="aislaciones">
            </a>
          </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=construccionenseco">
            <img src="./img/construccionenseco.jpg" alt="construccion en seco">
          </a>
          </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=estructurales">
              <img src="./img/estructurales.jpg" alt="caños estructurales">
            </a>
          </div>