<!-- footer start -->
      <div class="footer-container">
        <ul>
            <li class="navlink" data-link="productos" id="nav-productos">Productos</li>
            <li class="navlink" data-link="resenas" id="nav-resenas">Reseñas</li>
        </ul>
        <ul>
            <li class="navlink" data-link="quienessomos" id="nav-quienessomos">Quiénes somos</li>
            <li class="navlink" data-link="ubicacion" id="nav-ubicacion">Ubicación</li>
            <li class="navlink" data-link="contacto" id="nav-contacto">Contacto</li>
        </ul>
        
        <ul>
          <li id="nav-facebook"><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
          <li id="nav-instagram"><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
          <li id="nav-twitter"><a href="#"><i class="fa-brands fa-x-twitter"></i> X.com</a></li>
        </ul>
      </div>
      <div id="aclaracion"><small>Este sitio no es de un comercio real, sino que está realizado como parte del proyecto final para el curso de Full Stack: Javascript (Ed. 2025), Talento Tech del Gobierno de la Ciudad de Buenos Aires</small></div>
<!-- footer end -->