    <header>
      <div class="header-container">
        <div class="header-title">
          <div id="logo"></div>
          <h1>TODO PARA SU HOGAR</h1>
        </div>
      </div>
    </header>
    <div id="stickynav">
      <nav>
        <ul>
          <li><a href="index.html"><i class="fa-solid fa-house"></i></a></li>
          <li><a href="productos.html?cat=all">Productos</a></li>
          <li><a href="#">Ayuda</a></li>
          <li class="shoppingcart" id="shoppingcart">
            <i class="fas fa-cart-shopping"></i>
            <span id="indicadorCantidadItems" style="font-size:larger; margin-left: 0.3em"></span>
            <div id="divcarrito">
              <div id="contentcarrito">
                <h3 style="padding: 0.5em; padding-bottom: 1em; text-align: center">Carrito de Compras</h3>
                <div id="listado">
                  <ol>
                  </ol>
                </div>
                <div data-total=0 data-qitems=0 id="resumen"></div>
                <div id="botonesCarrito">
                  <button id="btnVaciarCarrito">Vaciar</button>
                  <button onclick="location.href='checkout.html'" id="btnCheckout">Checkout</button>
                  <button id="test">Test</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </div>
 
