  <div class="container">

    <main>
      <div class="productos">
        <section class="categorias">
          <ul>
            <li><a href="./productos.html?cat=chapas">Chapas</a></li>
            <li><a href="./productos.html?cat=aislaciones">Aislaciones</a></li>
            <li><a href="./productos.html?cat=construccionenseco">Construcción en seco</a></li>
            <li><a href="./productos.html?cat=estructurales">Caños estructurales</a></li>
          </ul>
        </section>
        <div class="contenido" id="contenido">  
          <div class="categoria-item">
            <a href="./productos.html?cat=chapas">
              <img src="./img/chapas.jpg" alt="chapas">
            </a>
            </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=aislaciones">
              <img src="./img/aislaciones.jpg" alt="aislaciones">
            </a>
          </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=construccionenseco">
            <img src="./img/construccionenseco.jpg" alt="construccion en seco">
          </a>
          </div>
          <div class="categoria-item">
            <a href="./productos.html?cat=estructurales">
              <img src="./img/estructurales.jpg" alt="caños estructurales">
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', ()=> {
        
      fetch('./categorias.html')
        .then(res => res.text())
        .then(html => {
          const elemento = document.querySelector('#contenido');
          if (elemento) {
            elemento.insertAdjacentHTML('afterbegin', html);
          } else {
            console.warn(`No se encontró el selector: ${target}`);
          }
        })
        .catch(error => {
          console.error(`Error al inyectar ${url}:`, error);
        });
    });
  </script>