<!-- nav start -->
<div id="navcontent">
    <ul>
        <li class="navlink" data-link="index" id="nav-index">
            <a href="/">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li class="navlink" data-link="productos" id="nav-productos">
            <a href="/productos">Productos</a>
        </li>
        <li class="navlink" data-link="ayuda" id="nav-ayuda"><a href="/ayuda">Ayuda</a>
        </li>
        
        <li id="shoppingcart">
            <!-- <a href="/checkout"> -->
                <i id="cart-icon" class="fas fa-cart-shopping"></i>
                <span id="indicadorCantidadItems" style="font-size:larger; margin-left: 0.3em"></span>
            <!-- </a> -->
            <div id="divcarrito" >
                <div id="contentcarrito">
                    <h3 style="padding: 0.5em; padding-bottom: 1em; text-align: center">Carrito de Compras</h3>
                    <div id="listado">
                        <!-- Contenido del carrito start -->
                        <ol>
                        </ol>
                        <!-- Contenido del carrito end -->
                    </div>
                    <div id="resumen"></div>
                    <div id="botonesCarrito">
                        <button id="btnVaciarCarrito">Vaciar</button>
                        <button id="btnSeguirComprando">Seguir comprando</button>
                        <button class="navlink" data-link="checkout" id="btnCheckout">Checkout</button>
                    </div>
                </div>
            </div>
        </li>
        <li><i class="fas fa-moon" id="themeToggler"></i></li>
    </ul>
</div>
<!-- nav end -->